body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  margin: 0px;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: rgb(220, 220, 220)
}

.shape {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.shape:hover::before {
  opacity: 1;
}

.shape::before,
.shape::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.shape::before {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.25),
    transparent 40%
  );
  z-index: 3;
}

.shape::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

#wrapper {
  aspect-ratio: 1.618;
  width: 90vmin;
  position: relative;
}

#wrapper > .shape {
  height: 30%;
  width: 30%;
  position: absolute;
  transition: left, top, height, width, border-radius;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.7, 0.1, 0.3, 0.8)
}

#wrapper > .shape:nth-child(1) {
  background-color: rgb(142, 202, 230);
}
#wrapper > .shape:nth-child(2) {
  background-color: rgb(33, 158, 188);
}
#wrapper > .shape:nth-child(3) {
  background-color: rgb(2, 48, 71);
}
#wrapper > .shape:nth-child(4) {
  background-color: rgb(255, 183, 3);
}
#wrapper > .shape:nth-child(5) {
  background-color: rgb(251, 133, 0);
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {
  left: 0%;
  top: 0%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {  
  left: 21%;
  top: 0%;
  height: 50%;
  width: 29%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {  
  left: 51%;
  top: 0%;
  height: 100%;
  width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {  
  left: 0%;
  top: 52%;
  height: 48%;
  width: 39%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {  
  left: 40%;
  top: 52%;
  height: 48%;
  width: 10%;
}


#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 85%;
  top: 60%;
  height: 40%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {  
  left: 40%;
  top: 00%;
  height: 58%;
  width: 60%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {  
  left: 0%;
  top: 60%;
  height: 40%;
  width: 84%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 58%;
  width: 9%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {  
  left: 10%;
  top: 0%;
  height: 58%;
  width: 29%;
}


#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 90%;
  height: 10%;
  width: 37%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(2) {  
  left: 28%;
  top: 0%;
  height: 88%;
  width: 9%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {  
  left: 38%;
  top: 0%;
  height: 100%;
  width: 62%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 39%;
  width: 27%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {   
  left: 0%;
  top: 41%;
  height: 47%;
  width: 27%;
}


#wrapper[data-roundness="1"] > .shape {   
  border-radius: 6rem; 
}

#wrapper[data-roundness="2"] > .shape {  
  border-radius: 0rem;
}

#wrapper[data-roundness="3"] > .shape {  
  border-radius: 30rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(1) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(2) {  
  border-radius: 20rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(3) {  
  border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(4) {  
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(5) {  
  border-bottom-left-radius: 10rem;
}